.content-stats {
    display: flex;
    flex-direction: column;
}

.form-container-stats.container {
    width: fit-content;
    height: fit-content;
    display: flex;
}

.form-row-stats.row {
    justify-content: center;
    margin-top: 40px;
    background-color: white;
    border-radius: 5px;
}

.form-col-stats.col {
    padding: 20px;
    width: 200px;
}

.result-content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: white;
}

.result-title {
    display: flex;
    justify-content: center;
}